body{max-width:1100px;margin:10px auto;color:#aaa;background:#111;padding:10px;font:16px/1.2 monospace}
img{display:inline-block;max-width:150px;height:auto;margin: 0px 15px 10px 5px}
a:link{color:#997;font-weight:bold}a:visited{color:#997;font-weight:bold}
article{font-size:1.2em}
article *{color:#aaa}
article p{color:#ccc}
code{color:#ccc}
pre{background:#080808!important;padding:5px 10px}
hr{color:#444}
header{border-bottom:2px solid #333}
.site-title{font-size:2.5em;font-weight:bold}
.subtitle{font-size:1.7em}
.name-and-subtitle{display:flex;align-items:center;flex-direction:row}
nav{font-size:1.2em}
.next-prev{font-size:1.3em;text-align:center;display:flex;margin:1em 4em 0em 4em;justify-content:space-between;}
.post-title{font-size:1.1em;font-weight:bold;color:#aaa}
.site-latest{font-size:1.2em;font-weight:bold;color:#aaa}
#loadOverlay{display:none;}
