{{ define "main" }}
<main>
    <article> {{ if or .Date .Params.tags .Params.categories }}
        <p> Date: {{ if .Date }} <time> {{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time> {{ end }}{{ if .Params.origin }}
        | From: {{ .Params.origin }}{{ end }} </p>
        <h2>{{ .Title }}</h2>
        <p> {{ with .Params.categories }} <b> Categories: {{ range first 1 . }}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{- end -}} {{- range after 1 . -}} ,
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{- end -}} {{ end }}
        </b> {{ with .Params.tags }} | <b> Tags: </b> {{ range first 1 . }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{- end -}} {{- range after 1 . -}} ,
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{- end -}} {{ end }}
        </p> <hr> {{ end }}
        <div> {{ .Content }} </div>
    </article>
</main> {{ $reg := (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    <div class="next-prev"> {{ with $reg.Prev . }}
        <a class="prev" href="{{ .Permalink }}" title="{{ .Title }}">« {{ .Title | truncate 50 "..." }}</a> {{ end }} {{ with $reg.Next . }}
        <a class="next" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | truncate 50 "..." }} »</a> {{ end }}
    </div> {{ if and (not (eq .Title "About" )) (not (eq .Title "Equipment")) }} {{ partial "sidebar.html" . }} {{ end }}
           {{ if and (or ($reg.Prev .) ($reg.Next .)) (.Site.Params.issoUrl) }} {{ end }} {{ end }}
