<article>
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <p><b> Date: <time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time> 
        {{ with .Params.categories }} </b> | <b> Categories: {{ range first 1 . }}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{- end -}} {{- range after 1 . -}} , 
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{- end -}} {{ end }}
        {{ with .Params.tags }} </b> | <b> Tags: {{ range first 1 . }} 
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{- end -}} {{- range after 1 . -}} , 
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{- end -}} {{ end }}
    </b></p>
<div> {{ if .Params.image }}
    <div class="summary-image">
        <img src="/{{ path.Join .File.Dir .Params.image }}" />
    </div> {{ end }} {{ .Summary }} {{ if .Truncated }}
    <p>...</p> {{ end }}
</div>
</article>
